/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #777;

  --bg: #adbd91;
  --bg2: #2c9166;

  --task: #cfc;
  --task2: #cfc;
  --danger: #f00;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: linear-gradient(127deg, var(--bg), var(--bg2));
}

.body {
  height: calc(100vh - 4.5rem);
  width: 100%;
  position: relative;
  max-width: 720px;
  margin: 4.5rem auto 0;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.error {
  color: var(--white);
  background-color: var(--danger);
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  box-shadow: var(--danger) 0 0 1rem;
}

/* content */

.content {
  transition: filter 0.5s;
  overflow: hidden;
  height: 100%;
}

.content > div {
  height: calc(100% - 1rem);
}

.blur {
  filter: blur(2rem);
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.shadow.dnone {
  display: none;
}

.close {
  position: absolute;
  right: 0;
  top: 0.5rem;
  background-color: red;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 0.5rem;
  color: white;
  max-width: 5rem;
}

.delete-desktop {
  display: none;
}

.only__desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .close {
    cursor: pointer;
    height: 4rem;
    display: grid;
    place-content: center;
    width: 8rem;
    max-width: 8rem;
    font-size: 2rem;
  }
  .content > div {
    height: calc(100% - 6rem);
  }

  .delete-desktop {
    display: block;
    position: static;
    height: 80%;
    border-radius: 1rem;
    text-align: center;
  }
  .shadow {
    display: none;
  }
}

/* header */

.header {
  height: 4.5rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  display: flex;
  padding: 0 1.2rem;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  max-width: 800px;
}

.header picture {
  display: flex;
  align-items: center;
  width: 5rem;
}

.menu__button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: black;
  font-size: 1.5rem;
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  text-shadow: 0.2 rem 0.2rem 0.3rem black;
}

@media screen and (min-width: 800px) {
  .header {
    height: 6rem;
  }

  .header picture {
    width: 8rem;
  }
}

/* menu */
.menuI {
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
}

.menu {
  display: block;
  background-color: #fff5;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.5rem 0 1rem 1rem;
  width: 18rem;
  height: 100vh;
  z-index: 100;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: -1rem 0 5rem black;
  transition: height 0.5s, width 0.5s, opacity 0.5s;
}

.menu.dnone {
  height: 4vh;
  width: 2rem;
  opacity: 0;
  z-index: -1;
}

.userM {
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  position: sticky;
  align-items: center;
  min-height: 3rem;
  max-height: 10%;
  justify-content: space-between;
  z-index: 10;
  overflow: scroll;
}

.userM__title {
  display: block;
  font-size: 1.8rem;
  color: var(--black);
  font-weight: bold;
  width: 12rem;
}

.userG {
  max-height: 79%;
  overflow: scroll;
}

.listM__item--container {
  width: 16rem;
  position: relative;
}

.listM__item {
  background-color: #9d9;
  position: relative;
  border-radius: 0.5rem;
  width: 16rem;
  overflow: hidden;
  height: 3rem;
  display: flex;
  align-items: center;
  z-index: 5;
}

.listM {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}

.listM__link {
  display: block;
  font-size: 1.4rem;
  color: var(--black);
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.listM__open {
  background-color: var(--gray);
}

.listM__open .listM__link {
  color: var(--white);
}

.listM__logout {
  position: absolute;
  bottom: 4rem;
  color: var(--white);
  text-transform: capitalize;
  font-size: 1.8rem;
  width: 8rem;
  background-color: var(--gray);
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  max-height: 10%;
}

form .listM__create{
  border: none;
  height: 3rem;
  margin-bottom: 1rem;
}

form .listM__create:focus-within{
  transform: scale(1.5);
}


.menu__form .listM__button{
  margin: .5rem auto;
  height: 3rem;
  width: 10rem;
  padding: 0;
}

.listM__input{
  background-color: #fff7;
  width: 100%;
  height: 100%;
  padding: .5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.menu__form {
  width: 16rem;
  margin: 1rem .5rem;
}

@media screen and (min-width: 800px) {
  .menu__button {
    cursor: pointer;
    font-size: 2rem;
  }

  .userM {
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 48%);
  }

  .userM__user {
    text-overflow: wrap;
    width: 100%;
    overflow: hidden;
    display: flex;
    max-height: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    width: 20rem;
    position: absolute;
    max-height: 80vh;
    height: fit-content;
    right: 0;
    top: 5vh;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem black;
  }

  .menu .close {
    display: none;
  }

  .userM {
    display: none;
  }

  .menu.dnone {
    z-index: 100;
    width: 20rem;
    height: fit-content;
    max-height: 80vh;
    opacity: 1;
  }

  .listM__logout {
    display: none;
  }
  /* .blur{
        filter: blur(0);
    } */
  .body {
    max-width: 1200px;
  }
  .menuI {
    display: none;
  }
  .only__desktop {
    display: block;
  }
  .menu__title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .listM {
    justify-content: center;
    width: 90%;
    margin: inherit 5%;
  }
  .listM__item,
  .listM__item--container {
    width: 100%;
    height: 4rem;
  }

  .content {
    margin-right: 30%;
  }
}

/* Tasks */
.tasks__title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100% - 2rem);
  overflow: scroll;
  padding: 1rem 1rem 8rem;
}

.tasks__list {
  position: relative;
  border-radius: 0.8rem;
  animation: 5s TaskDance infinite;
}

.task {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  background: var(--task);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1rem var(--task2);
  transition: scale 0.5s;
  align-items: center;
  height: 2.5rem;
  transition: background 0.5s, height 0.5s;
  z-index: 5;
  overflow: hidden;
}

.task.deleting {
  height: 0.1rem;
  background-color: red;
  overflow: hidden;
}

.task__title {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 100;
}

.task__info {
  max-width: 10rem;
}

.task__text {
  color: var(--black);
}

.task__complete {
  opacity: 0.3;
  box-shadow: none;
  animation: none;
  transform: scale(0.95);
  z-index: 3;
}

.task__checked {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.task__delete {
  border-radius: 0.8rem;
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  padding-right: 0.2rem;
  background-color: #f00;
  justify-content: end;
  align-items: center;
}

.task__delete p {
  color: white;
  font-size: 1.4rem;
}

.some__text {
  text-align: center;
  font-size: 1.2rem;
  color: var(white);
}

.task__complete .circle {
  stroke: #93ed07;
}

@keyframes TaskDance {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(1deg) scale(1.01);
  }
  10% {
    transform: rotate(-1deg) scale(1.01);
  }
  15% {
    transform: rotate(0) scale(1);
  }
}

@media screen and (min-width: 800px) {
  .task__header {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 720px;
  }

  .tasks {
    margin: 2rem auto;
  }

  .task {
    height: 4rem;
    padding: 0 1rem;
  }

  .task__title {
    font-size: 1.8rem;
  }

  .task__text {
    font-size: 1.3rem;
  }

  .task__time {
    cursor: pointer;
  }

  .task__checked {
    cursor: pointer;
  }
}

/* create box */

.create {
  position: absolute;
  bottom: 22vh;
  right: 5vw;
  background-color: rgba(255, 255, 255, 0.287);
  width: 90vw;
  height: 70vh;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem black;
  overflow: scroll;
  transition: all 0.5s;
  z-index: 10;
}

.create__header {
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.create__title {
  font-size: 2.5rem;
}

.create.dnone {
  width: 1px;
  height: 1px;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  z-index: -1;
}

.floating__button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.25rem;
  transition: transform 0.2s;
  z-index: 10;
  background: #0f0;
}

.floating__button:active {
  transform: rotate(0deg) scale(1.5);
}

@media screen and (min-width: 800px) {
  .floating__button {
    position: static;
  }

  .floating__button:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .create {
    width: 100%;
    right: 0;
    top: 5%;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .create .form {
    display: block;
    height: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .create {
    width: 70%;
    right: 30%;
    border-radius: 2rem;
    padding: 2rem;
    overflow: scroll;
  }

  .create.dnone {
    right: 30%;
  }

  .create__title {
    width: 100%;
    text-align: center;
  }
}

/* form */

.form__set {
  border: none;
  margin-bottom: 1rem;
}

.form__title {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: solid 1px #0503;
  width: auto;
}

.form__input {
  display: block;
  background-color: #fff2;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 80%;
  margin: 0 auto;
  outline: none;
  border: none;
  box-shadow: 0.5rem 0.5rem 0.2rem #0509;
  padding: 0 0.6rem;
  font-size: 1.4rem;
}

.form__textarea {
  width: 90%;
  background-color: #fff2;
  display: block;
  height: 6rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 0.2rem #0509;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
}

.form__button {
  display: block;
  background-color: #fff7;
  padding: 1rem;
  width: 80%;
  margin: 5rem auto 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 0.5rem 0.5rem 0.2rem #0505;
  font-size: 1.6rem;
}

.group__button {
  margin-top: 1rem;
  height: 2.5rem;
  padding: 0.2rem;
}

.form__changeLink {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  color: red;
}

.form .dnone {
  display: none;
}

.form__error{
  border: solid 1px #f002;
  box-shadow: .3rem 0rem 2rem #f00e;
  animation: linear onOf infinite 5s;
}

@keyframes onOf {
  50%{
    box-shadow: .3rem 0 2rem #f007;
  }
}

@media screen and (min-width: 800px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: scroll;
  }

  .form--container {
    height: calc(100vh - 12rem);
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form--container .tasks__title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .form__title {
    font-size: 2.5rem;
  }

  .form__input {
    height: 4rem;
    border-radius: 1rem;
    max-width: 36rem;
  }

  .form__textarea {
    max-width: 36rem;
    height: 16rem;
    border-radius: 1rem;
  }

  .form__button {
    height: 5rem;
    max-width: 18rem;
    font-size: 2rem;
    cursor: pointer;
  }
}
