/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

body {
    background: linear-gradient(127deg, #8d8ec7, #1c1c68);
    min-height: 100vh;
}

header {
    display: block;
    height: 4.5rem;
    margin-bottom: 1rem;
}
/* header */
.header {
    height: 4.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 1rem;
    background-color: #fff;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    align-items: center;
}

.header a {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 2rem;
}

.menu__button{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

/* Tasks */
.tasks__title {
    font-size: 3rem;
    text-align: center;
    margin: 2rem auto;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 2px 5px 1rem black;
}

.task__title{
    font-size: 1.5rem;
}

.task__complete {
    background-color: #ffffff38;
    box-shadow: none;
}

.task__checked {
    display: flex;
    align-items: center;
}

.task__delete {
    border: solid 0.2rem red;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.some__text{
    text-align: center;
    font-size: 1.4rem;
}
/* create box */

.create {
    position: absolute;
    top: 15vh;
    left: 5vw;
    background-color: white;
    width: 90vw;
    height: 70vh;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem black;
}

.create__header {
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.create__title {
    font-size: 2.5rem;
}

.create.dnone{
    display: none;
}

.floating__button{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: .25rem;
    box-shadow: 0 .5rem 1rem #0007;
    transition: transform .5s;
}

.floating__button:active{
    transform: rotate(12deg) scale(1.5);
}

/* form */
.form__set{
    border: none;
    margin-bottom: 1rem;
}

.form__title{
    margin-bottom: .5rem;
    display: block;
    font-size: 2rem;
    text-align: center;
}

.form__input{
    display: block;
    border-radius: .8rem;
    height: 2.5rem;
    width: 80%;
    margin: 0 auto;
    outline: none;
    border: none;
    box-shadow: 0 .5rem 1rem black;
    padding: 0 .6rem;
    font-size: 1.8rem;
}

.form__textarea{
    width: 90%;
    display: block;
    height: 6rem;
    margin: 0 auto;
    border-radius: .8rem;
    border: none;
    box-shadow: 0 .5rem 1rem black;
    padding: .2rem .6rem;
    font-size: 1.4rem;
}

.form__button{
    display: block;
    padding: 1rem;
    width: 80%;
    margin: 5rem auto 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    box-shadow: 0 .5rem 1rem #00000056;
    font-size: 2rem;
}


.form__changeLink{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: red;
}